*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.logo{
  font-size: 20px;
  color: pink;
}
.back{
  position: absolute;
  width: 100%;
  height: 1200px;
}
.admin{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  padding-top: 8vh;
}
.search{
  margin-right: 10vw;
}
.cardd{
  margin-left: 2vw;
  margin-bottom: 2vw;
  position: relative;
  border: solid white 1px;
}
.imgg{
  max-width: 100%;
  min-height: 1150px;
  max-height: 100%;
  position: absolute;
  
}


.side{
  position: relative;
}
.pagi{
  position: relative;
  background-color: white;
}
.ju{
  color: white !important;
}
.nh{
  position: relative;
}

@media screen and (max-width: 1450px) {
  .bbb {
    background-color: black;
    width: 100%;
  }
  .advertising_left img {
    width: 100%;
  }
}

.lll{
  width: 25px;
}
.bebe{
  width: 100%;
  position: absolute;
}
.bebeb{
  max-height: 700px;
  width: 100%;
  position: absolute;
  opacity: .5;
}
.mj{
  background-color: rgb(4, 4, 4) !important;
  color: white !important;
}
.jkl{
  position: relative;
  opacity: .7;
}
.nhnh{
  color: black;
}
.gridtitle{
  background-color: aqua;
}
/* .griddec{
  background-color: blue;
}
.gridbut{
  background-color: brown;
}
.gridaut{
  background-color: darkgreen;
} */

.grid{
  display: flex;
  /* justify-content: space-around; */
}

.gridright{
  margin-left: 6vw;
  max-width: 55vw;
}
.jkjk{
  width: 250px;
  height: 400px;
  border-radius: 8px;
}